﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <div class="contents">
        @RenderBody()

        <div class="footer">
            <footer>
                <p>&copy; Takanori Sadatou</p>
            </footer>
        </div>
    </div>
</body>
</html>