﻿@model SimpleTwitter3.ViewModels.UserViewModel

@{
    ViewBag.Title = "ユーザー編集";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <p>
        <a href="../Top">ホーム</a>
    </p>
</div>

<div class="errorMessages">
    <p>
        @foreach (var item in Model.ErrorMessage)
        {
            @Html.DisplayFor(modelItem => item)
            <br>
        }
    </p>
</div>

<div>
    @using (Html.BeginForm("Update", "User", FormMethod.Post))
    {
        <p>
            名前
            @Html.TextBoxFor(model => Model.User.Name, Model.User.Name)
            （名前はあなたの公開プロフィールに表示されます）
            <br>
            アカウント名
            @Html.TextBoxFor(model => Model.User.Account, Model.User.Account)
            <br>
            パスワード
            @Html.PasswordFor(model => Model.User.Password)
            <br>
            メールアドレス
            @Html.TextBoxFor(model => Model.User.Email, Model.User.Email)
            <br>
            説明
            @Html.TextAreaFor(model => Model.User.Description, Model.User.Description)
        </p>
        <p>
            <input type="submit" value="更新" />
        </p>
    }
</div>