﻿@model SimpleTwitter3.ViewModels.UserViewModel

@{
    ViewBag.Title = "ログイン";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <p>
        <a href="./Top">ホーム</a>
    </p>
</div>

<div class="errorMessages">
    <p>
        @foreach (var item in Model.ErrorMessage)
        {
            @Html.DisplayFor(modelItem => item)
            <br>
        }
    </p>
</div>

<div>
    @using (Html.BeginForm("Selcet", "Login", FormMethod.Post))
    {
        <p>
            アカウント名かメールアドレス<br>
            @Html.TextBoxFor(model => Model.User.Account, Model.User.Account)
            <br>
            パスワード<br>
            @Html.PasswordFor(model => Model.User.Password)
        </p>
        <p>
            <input type="submit" value="ログイン" />
        </p>
    }
</div>

