﻿@model SimpleTwitter3.ViewModels.TopViewModel

@{
    ViewBag.Title = "簡易Twitter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <p>
        @if (Model.User != null)
        {
            <a href="user/setting">設定</a>
            <a href="login/logout">ログアウト</a>
        }
        else
        {
            <a href="login">ログイン</a>
            <a href="user/signup">登録する</a>
        }
    </p>
</div>

@if (Model.User != null)
{
    <div class="profile">
        <div class="name">
            @Html.DisplayFor(modelItem => Model.User.Name)
        </div>
        <div class="account">
            @@@Html.DisplayFor(modelItem => Model.User.Account)
        </div>
        <div class="description">
            @Html.DisplayFor(modelItem => Model.User.Description)
        </div>
    </div>

    <div class="errorMessages">
        <p>
            @foreach (var item in Model.ErrorMessage)
            {
                @Html.DisplayFor(modelItem => item)
                <br>
            }
        </p>
    </div>

    <div class="form">
        @using (Html.BeginForm("Insert", "Message", FormMethod.Post))
        {
            <p>
                いま、どうしてる？<br>
                @Html.TextAreaFor(model => Model.Message.Text, Model.Message.Text)
                <br>
                <input type="submit" value="つぶやく" />（140文字まで）
            </p>
        }
    </div>
}

<div class="messages">
    @foreach (var item in Model.UserMessage)
    {
        <p>
            <div class="message">
                <span class="name">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
                <span class="account">
                    @@@Html.DisplayFor(modelItem => item.Account)
                </span>
                <div class="text">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
                <div class="date">
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </div>
            </div>
        </p>
    }
</div>
